[submodule "pelican-bootstrap3"]
	path = pelican-bootstrap3
	url = git@github.com:dlukes/pelican-bootstrap3.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "pelican-bibtex"]
	path = pelican-bibtex
	url = git@github.com:vene/pelican-bibtex.git
